db
# Erstellt durch https://www.gitignore.io/api/java,jboss,maven,linux,intellij
# Bearbeiten Sie diese Seite unter https://www.gitignore.io/?templates=java,jboss,maven,linux,intellij

### Intellij ###
# Umfasst JetBrains-IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio und WebStorm
# Referenz: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# Benutzerspezifisches Zeug
.idea / ** / workspace.xml
.idea / ** / Aufgaben.xml
.idea / ** / usage.statistics.xml
.idea / ** / Wörterbücher
.idea / ** / Regal

# Erzeugte Dateien
.idea / ** / contentModel.xml

# Sensible Dateien oder Dateien mit hoher Churn
.idea / ** / dataSources /
.idea / ** / dataSources.ids
.idea / ** / dataSources.local.xml
.idea / ** / sqlDataSources.xml
.idea / ** / dynamic.xml
.idea / ** / uiDesigner.xml
.idea / ** / dbnavigator.xml

# Gradle
.idea / ** / gradle.xml
.idea / ** / Bibliotheken

# Gradle und Maven mit automatischem Import
# Wenn Sie Gradle oder Maven mit automatischem Import verwenden, sollten Sie Moduldateien ausschließen.
# da sie neu erstellt werden und Abwanderung verursachen können. Kommentar bei Verwendung
# Auto-Import.
# .idea / modules.xml
# .idea / *. iml
# .idea / module

# CMake
cmake-build - * /

# Mongo Explorer Plugin
.idea / ** / mongoSettings.xml

# Dateibasiertes Projektformat
* .iws

# IntelliJ
aus/

# mpeltonen / sbt-idee plugin
.idea_module /

# JIRA-Plugin
atlassian-ide-plugin.xml

# Kursives Clojure-Plugin
.idea / replstate.xml

# Crashlytics Plugin (für Android Studio und IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-basierter Rest-Client
.idea / httpRequests

# Android Studio 3.1+ serialisierte Cache-Datei
.idea / caches / build_file_checksums.ser

### Intellij Patch ###
# Kommentar Grund: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# * .iml
# modules.xml
# .idea / misc.xml
# * .ipr

# Sonarlint-Plugin
.idea / sonarlint

### Java ###
# Kompilierte Klassendatei
*.Klasse

# Logdatei
*.Log

# BlueJ-Dateien
* .ctxt

# Mobile Tools für Java (J2ME)
.mtj.tmp /

# Paketdateien #
*.Krug
*.Krieg
* .nar
*.Ohr
*.Postleitzahl
* .tar.gz
* .rar

# Absturzprotokolle für virtuelle Maschinen, siehe http://www.java.com/de/download/help/error_hotspot.xml
hs_err_pid *

### Jboss ###
jboss / server / all / deploy / project.ext
jboss / server / default / deploy / project.ext
jboss / server / minimal / deploy / project.ext
jboss / server / all / log / *. log
jboss / server / all / tmp / ** / *
jboss / server / all / data / ** / *
jboss / server / all / work / ** / *
jboss / server / default / log / *. log
jboss / server / default / tmp / ** / *
jboss / server / default / data / ** / *
jboss / server / default / work / ** / *
jboss / server / minimal / log / *. log
jboss / server / minimal / tmp / ** / *
jboss / server / minimal / data / ** / *
jboss / server / minimal / arbeit / ** / *

# bereitgestellte Paketdateien #

* .DEPLOYED

### Linux ###
* ~

# temporäre Dateien, die erstellt werden können, wenn ein Prozess noch eine geöffnete Datei geöffnet hat
.fuse_hidden *

# KDE-Verzeichniseinstellungen
.Verzeichnis

# Linux-Papierkorbordner, der auf jeder Partition oder Festplatte erscheinen kann
.Müll-*

# .nfs-Dateien werden erstellt, wenn eine geöffnete Datei entfernt wird, aber noch darauf zugegriffen wird
.nfs *

### Maven ###
Ziel/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
Abhängigkeits-reduziertes-pom.xml
buildNumber.properties
.mvn / timing.properties
.mvn / wrapper / maven-wrapper.jar

# Ende von https://www.gitignore.io/api/java,jboss,maven,linux,intellij
